<footer>
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-sm-1">

            <div class="col">
                <div class="footer-about">
                    <h2>About</h2>
                    <p>This is a portfolio project developed using Node.js. You can access my complete portfolio <a href="https://mqumairi.com">here</a>!</p>
                    <p>To avoid legal issues, any notices posted will not display to other users before approval by an administrator. This is obviously not a real service.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/bootstrap/jquery.js"></script>
<script src="/bootstrap/bootstrap.js"></script>
</body>
</html>