<%- include("../partials/header.ejs"); %>

<div id="main-content-containter" class="container">
  <h2>Posted Notices</h2>

  <div class="container notice-container">
    <div class="row row-cols-1 row-cols-xl-3 row-cols-lg-2 row-cols-md-2 row-cols-sm-1">

      <div class="col">
        <div class="notice">
          <div class="notice-bg">
            <div class="notice-image" style="background-image: url('/images/absi.jpg');"></div>
            <div class="notice-data-container">
              <div class="notice-title"> <a href="/notices/abce121">Absi</a></div>
              <span class="badge badge-primary species-badge">Primary</span>
              <span class="badge badge-secondary reward-badge">Secondary</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="notice">
          <div class="notice-bg">
            <div class="notice-image" style="background-image: url('/images/absi.jpg');"></div>
            <div class="notice-data-container">
              <div class="notice-title">Absi</div>
              <span class="badge badge-primary species-badge">Primary</span>
              <span class="badge badge-secondary reward-badge">Secondary</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="notice">
          <div class="notice-bg">
            <div class="notice-image" style="background-image: url('/images/absi.jpg');"></div>
            <div class="notice-data-container">
              <div class="notice-title">Absi</div>
              <span class="badge badge-primary species-badge">Primary</span>
              <span class="badge badge-secondary reward-badge">Secondary</span>
            </div>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="notice">
          <div class="notice-bg">
            <div class="notice-image" style="background-image: url('/images/absi.jpg');"></div>
            <div class="notice-data-container">
              <div class="notice-title">Absi</div>
              <span class="badge badge-primary species-badge">Primary</span>
              <span class="badge badge-secondary reward-badge">Secondary</span>
            </div>
          </div>
        </div>
      </div>

      <div clss="col">
        <div class="create-new-notice">
          <div class="create-new-notice-bg">
            <div class="create-new-notice-message">
              Signup or Login to add your own notice.
              <a href="/notices/new">Add a new notice</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>



</div>

<%- include("../partials/footer.ejs"); %>
